body {
  margin:0;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
/* CSS for the menu/navigation bar at the top */
.menu {
  color: white;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.menu ul  {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: right;
}

.menu ul li {
  float: right;
}

.menu h1 {
  margin: 0;
  margin-left: 10px;
  padding: 0;
  float: left;
}

.menu li a{
  display: block;
  color: inherit;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu button {
  border: none;
  display: block;
  color: inherit;
  background-color: inherit;
  text-align: center;
  padding: 14px 16px;
  font-family: inherit;
  font-size: 100%;
}

.menu li a:hover:not(.active) {
  background-color: #111;
}

.menu button:hover:not(.active) {
  background-color: #111;
}

/* CSS applying to each view, such as About, Feed...etc */
.content {
  background-color: white;
  margin: 70px 15% 50px 15%;
}

/* CSS for the feed component */
.feed ul{
  list-style-type: none;
}

/* CSS for the post component */
.post {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 30px;
  height: 110px;
  width: 100%;
  color: gray;
  overflow: hidden;
}

.post ul {
  list-style-type: none;
  float: left;
}

.post ul li a {
  text-decoration: none;
}

.post_img {
  border: 2px solid lightblue;
  border-radius: 50%;
}

/* CSS for profiles */
.profile ul {
  list-style-type: none;
  float: left;
}